@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SENG 401 Project</h1>
    <p class="lead">Call It Local is a project created by the students 
        of SENG 401 - Software Architecture at the University of Calgary.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
