<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Group 8</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>SENG 401 - Group 8 - Assignment 3</p>
        </footer>
    </div>
</body>
</html>
