<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Group 8</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>SENG 401 - Group 8</p>
        </footer>
    </div>
</body>
</html>
