@{
    ViewBag.Title = "Display Review";
}

<div style="clear:both">
    <h2 style="float:left" id="CompanyNameDisplay">@ViewBag.CompanyName</h2>
    <h2 style="float: right">Average Stars: @ViewBag.AvgStars</h2>
</div>

<br/><br/><br/>

