<!--
    This is the html page that opens when a user navigates or is redirected
    to the log in page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "Log In";
}

<h2>@ViewBag.Title</h2>

<!-- The remainder of this file is to be completed by students in milestone 2 -->